html {
background-color: gold;
}

body {
position: relative; 
font-family:Arial, Helvetica, sans-serif;
width: 60%;
height: 60vh;
background-color: black;
color: goldenrod;
text-align: center;
margin: 0 auto;
margin-top: 10%;
padding: 5px;
}

img {
width: 25%;
text-align: center;
}

.color {
color: gold;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}
